{{ form_start(form, {'attr': {'class': 'row', 'onsubmit':'return getContent()'}}) }}
    {{ form_widget(form.picture) }}


<div id="my-title" contenteditable="true">Ceci est un titre</div>
    {{ form_widget(form.title, {'attr': {'hidden':'true'}}) }}

  {{ form_errors(form.title) }}

<div id="my-content" contenteditable="true">Ceci est un corps</div>
 {{ form_widget(form.Content, {'attr': {'hidden':'true'}}) }}
    <p>
        <label>
            {{ form_widget(form.isPublished, {'attr': {'class': 'filled-in'}}) }}
            <span>Send</span>
        </label>
    </p>

    <input type="submit" name="" value="Enregistrer" class="btn btn-primary">

{{ form_end(form) }}