{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    {{ article.publicationDate|date('d/m/Y') }}
    <p>
        <img src="{{ asset('uploads/' ~ article.picture) }}">
    </p>
    <p>
        {{ article.Content }}

    </p>

    <section class="comments" id="comments">

        <h3>Comments</h3>

        {{ render(controller(
            'App\\Controller\\CommentController::index'
        )) }}


       {{ render(controller('App\\Controller\\CommentController::new', {'id': article.id})) }}
    </section>
{% endblock %}