<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Skymetal{% endblock %}</title>
    <meta charset="utf-8">
    <script src="{{ asset('javascript/form_helper.js') }}"></script>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/show_article.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/dashboard.css') }}">
    {% endblock %}
</head>
<body>
<nav class ='topnav'>
                <a href="#" class="brand-logo">Skymetal</a>
                <a href="{{ path("homepage") }}">Articles</a>
                <a href="{{ path("app_login") }}">Login</a>
                <a href="{{ path("user_app_register") }}">User register</a>
                <a href="{{ path("dashboard") }}">Dashboard</a>
</nav>

{% block content %}

{% endblock %}


</body>
</html>
